[submodule "examples/7 redux"]
	path = examples/7 redux
	url = git@github.com:rackt/redux.git
[submodule "examples/8 redux devtools"]
	path = examples/8 redux devtools
	url = git@github.com:gaearon/redux-devtools.git
[submodule "submodules/redux-devtools"]
	path = submodules/redux-devtools
	url = git@github.com:gaearon/redux-devtools.git
[submodule "submodules/redux"]
	path = submodules/redux
	url = git@github.com:rackt/redux.git
