[submodule "2015-react-fitc/submodules/redux-devtools"]
	path = 2015-react-fitc/submodules/redux-devtools
	url = git@github.com:gaearon/redux-devtools.git
[submodule "2015-react-fitc/submodules/redux"]
	path = 2015-react-fitc/submodules/redux
	url = git@github.com:reactjs/redux.git
