* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #060b14;
  overflow: hidden;

  font-family: "Helvetica Neue", "Open Sans";
  font-weight: 100;
}

a {
  color: #4bc2f1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#container {
  height: 100%;

  perspective-origin: 50% 50%;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;

  perspective: 50px;
  -webkit-perspective: 50px;
  -moz-perspective: 50px;
  -ms-perspective: 50px;

  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;

  pointer-events: none;

  opacity: 0.55;
}

#welcome {
  position: fixed;
  width: 22rem;
  left: 50%;
  top: 45%;
  margin-top: -1rem;
  margin-left: -11rem;
  
  font-weight: 200;
  color: #fff;
  opacity: 0.65;
  text-align: center;
  font-size: 0.775rem;
  line-height: 1.05rem;
  letter-spacing: 0.135em;
  word-spacing: -0.075rem;
}

@media screen and (max-width: 400px) {
  #welcome {
    font-size: 0.45rem !important;
  }
}

#browserWidthNotice {
  font-style: italic;
  display: none;
}

#logo {
  position: fixed;
  right: 0.75rem;
  bottom: 0.65rem;

  cursor: pointer;

  text-decoration: none;
  color: #d6d6d6;
  font-size: 2rem;
  letter-spacing: 0.025em;
}

#logoDot {
  color: #d74580;
}

.dot {
  position: fixed;
  width: 30px;
  height: 30px;

  border-radius: 30px;
  background-color: #4bc2f1;
}
